.breadcrumbs.clearfix
    .container
        .row
            .col-xs-12
                ul
                    li
                        | Главная
                        i(class="fa fa-chevron-right" aria-hidden="true")
                    li
                        a(href="#") Статьи
                        i(class="fa fa-chevron-right" aria-hidden="true")
                    li
                        a(href="#") Lorem
