.subfooter
    .container
        .row
            .fooClass
                .col-xs-12.col-sm-6.col-md-3
                    h3 Агенствам
                    ul
                        li
                            a(href="#") Регистрация
                        li
                            a(href="#") Договора и документы
                        li
                            a(href="#") Рекламные туры
                        li
                            a(href="#") Акции от «Турал
                        li
                            a(href="#") Правила оплаты
                        li
                            a(href="#") О компании "Турал"
                .col-xs-12.col-sm-6.col-md-2
                    h3 Направления
                    ul
                        li
                            a(href="#") Болгария
                        li
                            a(href="#") Черногория
                        li
                            a(href="#") Греция
                        li
                            a(href="#") Украина
            .col-xs-12.col-sm-6.col-md-4
                ul.list-link
                    li
                       a(href="") поиск тура
                    li
                        a(href="") горячие путевки
                    li
                        a(href="") загранпаспорта

                .sub-form
                    p Подпишись на нашу Рассылку
                    .form-sub
                        form(action="" method="post")
                            input(type="text" name="subname" placeholder="Ваш электронный адрес")
                            input(type="submit" value="Отправить")
            .col-xs-12.col-sm-6.col-md-3
                h3 Контакты
                .items.clearfix
                    .item-icon
                        img(src="images/map-icon.png")
                    .item-text
                        | Украина, г. Запорожье
                .items.clearfix
                    .item-icon
                        img(src="images/viber-icon.png")
                    .item-text
                        | (050) 458-78-78
                .items.clearfix
                    .item-icon
                        img(src="images/envicon.png")
                    .item-text
                        | tural@ukr.net
                .items.clearfix
                    .item-icon

                    .item-text
                        p.clearfix График работы:
                        span.day
                           | Пн-Сб:
                        span
                           | с 8.00 до 20.00
                .items.clearfix
                    .item-icon
                        |
                    .item-text
                        span.day
                            | Вс:
                        span.time
                            | с 9.00 до 18.00

.bmfooter
    .container
        .row
            .col-xs-12.col-sm-6.col-md-5
                .footer-copy
                    +copylist()
            .col-xs-12.col-sm-6.col-md-7
                .footer-social
                    +footericon()