.subfooter
    .container
        .row
            .col-md-3
                h3 Агенствам
                ul
                    li
                        a(href="#") Регистрация
                    li
                        a(href="#") Регистрация
                    li
                        a(href="#") Регистрация
                    li
                        a(href="#") Регистрация
                    li
                        a(href="#") Регистрация
                    li
                        a(href="#") О компании "Турал"
            .col-md-3
                p Направления
            .col-md-3
                p Агенствам
            .col-md-3
                p Контакти
.bmfooter
    .container
        .row
            .col-md-5
                p text
            .col-md-7
                p social