.subfooter
    .container
        .row
            .col-md-3
                h3 Агенствам
                ul
                    li
                        a(href="#") Регистрация
                    li
                        a(href="#") Договора и документы
                    li
                        a(href="#") Рекламные туры
                    li
                        a(href="#") Акции от «Турал
                    li
                        a(href="#") Правила оплаты
                    li
                        a(href="#") О компании "Турал"
            .col-md-3
                h3 Направления
                ul
                    li
                        a(href="#") Болгария
                    li
                        a(href="#") Черногория
                    li
                        a(href="#") Греция
                    li
                        a(href="#") Украина
            .col-md-3
                ul.list-link
                    li
                       a(href="") поиск тура
                    li
                        a(href="") горячие путевки
                    li
                        a(href="") загранпаспорта

                .sub-form
                    p Подпишись на нашу Рассылку

                    form(action="" method="post")
                        input(type="text" name="subname" placeholder="Ваш электронный адрес")
                        input(type="submit" value="Отправить")


            .col-md-3
                h3 Контакты
.bmfooter
    .container
        .row
            .col-md-5
                +copylist()
            .col-md-7
                +footericon()