include _mixins
.top-slider.clearfix
    div(id="topSlider" class="carousel slide" data-ride="carousel")
        .carousel-inner
            .item.active
                img(src="images/1.jpg" alt="First Image")
            .item
                img(src="images/2.jpg" alt="First Image")
            .item
                img(src="images/slider1.jpg" alt="First Image")

        a(class="left carousel-control" href="#topSlider" data-slide="prev")
        a(class="right carousel-control" href="#topSlider" data-slide="next")

    .topFoo.clearfix
        .container
            .row
                .col-xs-12
                    .header-content.clearfix
                        .top-header.clearfix
                            .col-xs-8.col-sm-4.col-md-3
                                +top_tel()
                                .call-form.clearfix
                                    img(src="images/viber_white.png")
                                    a(href="#") Обратний звонок

                            .col-xs-4.col-sm-3.col-sm-push-5.col-md-3.col-md-push-6
                                .top-enter.clearfix
                                    p.hidden-xs.hidden-sm Вход в личный кабинет
                                    .top-searchIcon.clearfix
                                        img(src="images/small-search.png")
                                    .top-search.clearfix
                                        .container
                                            .row
                                                .col-xs-12
                                                    .close
                                                    .src-form.clearfix
                                                        form(method="post")
                                                            .col-md-10.seacrh
                                                                input(type="seacrh" name="search" placeholder="Поиск...")
                                                            .col-md-2.seacrh
                                                                input(type="submit" value="Найти")
                                                        .src-img.clearfix
                                                            img(src="images/scr-palma.png" alt="alt")


                                    a(href="#" title="Вход в личный кабинет")
                                        img(src="images/enter-icon.png")
                            .col-xs-12.col-sm-5.col-sm-pull-3.col-md-6.col-md-pull-3
                                .top-kurs
                                    p Курс валют: 22.11.17$ = 27.02 грн € = 31.66 грн  Р = 0.46 грн
                                .top-logo
                                    a(href="index.html")
                                        img(src="images/top-logo.png" alt="Tural")

                        .menu-wrap.clearfix
                            nav.clearfix
                                .mobile-mnu.hidden-md.hidden-lg
                                    a(href="#").toggle-mnu.hidden-lg
                                        span
                                +menu(menuItem)
                        .header-logo.clearfix
                            a(href="./")
                                img(src="images/big-logo.png" alt="Tural")
                            h1 Выбери свой отпуск
                            p#formbtn.formbtn.hidden-sm.hidden-md.hidden-lg
                                a(href="#") Форма заказа
                        .choosevocation.clearfix
                            .close.hidden-md.hidden-lg
                            form
                                .col-xs-12.col-sm-12.col-md-5
                                    .fist
                                        .form-group
                                            label(for="resort" class="curort") Курорт
                                            input(type="text" id="resort" name="name")
                                        .form-group
                                            label(for="cat" class="hotel") Категория
                                            input(type="text" id="cat" name="name")
                                .col-xs-12.col-sm-6.col-md-4
                                    .form-group
                                        label(for="checkin" class="checkin") Заезд
                                        input(type="text" id="checkin" name="name" size="12")
                                    .form-group
                                        label(for="nights" class="small") Ночи
                                        input(type="text" id="nights" name="name" size="3")
                                    .form-group
                                        label(for="departure" class="departure") Выезд
                                        input(type="text" id="departure" name="name" size="12")
                                .col-xs-12.col-sm-6.col-md-3
                                    .form-group
                                        label(for="adults" class="small") Взрослые
                                        input(type="text" id="adults" name="name" size="3")
                                    .form-group
                                        label(for="child" class="small") Дети
                                        input(type="text" id="child" name="child" size="3")
                                    input(type="image" name="tourSearch" src="images/search-icon.png" value="find")
                    #passport.clearfix
                        a(href="#")
                            span Заказать
                            span загран
                            span паспорт
