aside
    .sidebar_propose
        h2 Предложение дня
        #sidepropose.owl-carousel
            .item
                img(src="images/propose1.jpg")
            .item
                img(src="images/propose2.jpg")
            .item
                img(src="images/propose3.jpg")
    .sidebartours_propose
        h2 Наши туры
