aside
    .sidebar_propose
        h2 Предложение дня
        #sidepropose.owl-carousel
            .item
                img(src="images/propose1.jpg")
            .item
                img(src="images/propose2.jpg")
            .item
                img(src="images/propose3.jpg")
    .sidebartours_propose
        h2 Наши туры
        .prod_slider.clearfix
            #slideimg
                .jc-items.clearfix
                    .cat-pict
                        .descr
                            p Детские международные фестивали
                        p
                            | Детские международные фестивали
                        img(src="images/cruise2.jpg")
                    .cat-pict
                        .descr
                            p Детские международные фестивали
                        p
                            | Детские лагеря и Молодежные центры
                        img(src="images/cruise3.jpg")
                    .cat-pict
                        .descr
                            p Детские международные фестивали
                        p
                            | Авиа билеты
                        img(src="images/cruise9.jpg")
                    .cat-pict
                        .descr
                            p Детские международные фестивали
                        p
                            | Детские экскурсионные туры
                        img(src="images/cruise4.jpg")
                    .cat-pict
                        .descr
                            p Детские международные фестивали
                        p
                            | Туры по Украине
                        img(src="images/cruise5.jpg")

            #block_arrows.clearfix
                a(href="#" class="prev")
                    i(class="fa fa-chevron-down" aria-hidden="true")
                a(href="#" class="next")
                    i(class="fa fa-chevron-up" aria-hidden="true")