section.reltours.clearfix
    .container
        .row
            h3 Наши туры
        #reltours.owl-carousel
            .item
                p Авиа билети
                img(src="images/cruise2.jpg")
            .item
                p Авиа билети
                img(src="images/cruise2.jpg")
            .item
                p Авиа билети
                img(src="images/cruise3.jpg")
            .item
                p Авиа билети
                img(src="images/cruise4.jpg")
            .item
                p Авиа билети
                img(src="images/cruise3.jpg")