.breadcrumbs
  background-color: #ccc
  ul
    li
      float: left
      display: block
      margin: 13px 0
      a
        color: #000
        text-decoration: none
        &:hover
          text-decoration: none
      .fa
        margin: 0 5px
        color: $activ_col
.article-content,
aside
  margin: 20px 0
  h2
    font-size: 24px
    text-align: center
  img
    margin: 20px auto
  p
    line-height: 24px
    margin: 10px 0
.related-posts,
.reltours
  margin: 100px 0
.reltours
  h3
    text-align: center
    color: $btm_col
    text-transform: uppercase
    font-size: 22px
    margin: 30px 0
    text-shadow: 1px 0 1px rgba(0,0,0,.5)
  .item
    border-top: 3px solid $btm_col
    p
      text-align: center
      margin: 10px 0
      @include font('informCTT')
      font-size: 16px
    img
      margin: 15px 0
  .owl-dots
    text-align: center
    position: relative
    bottom: -12px
    .owl-dot
      width: 13px
      height: 13px
      border-radius: 100%
      border: 1px solid #ccc
      background: #fff
      top: 15px
      margin-right: 5px
      display: inline-block
      &.active
        background: $btm_col
  .owl-nav
    div
      width: 15px
      height: 33px
      background-image: url("images/responceArr.png")
      top: 7px
      position: absolute
      &.owl-next
        right: 0
        background-position: top right
.related-posts
    .imgHold
      position: relative
      overflow: hidden
      img
        position: relative
        -webkit-transition: all 200ms ease-in
        -webkit-transform: scale(1)
        -ms-transition: all 200ms ease-in
        -ms-transform: scale(1)
        -moz-transition: all 200ms ease-in
        -moz-transform: scale(1)
        transition: all 200ms ease-in
        transform: scale(1)
        z-index: 1
        &:hover
          z-index: 2
          -webkit-transition: all 200ms ease-in
          -webkit-transform: scale(1.1)
          -ms-transition: all 200ms ease-in
          -ms-transform: scale(1.1)
          -moz-transition: all 200ms ease-in
          -moz-transform: scale(1.1)
          transition: all 200ms ease-in
          transform: scale(1.1)
      .capt
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        background: rgba(0,0,0,.5)
        z-index: 10
        p
          color: #fff
          float: left
          font-size: 14px
          margin: 2px 17px
          line-height: 40px
          display: block
          &.capt-price
            float: right
            a
              border-radius: 5px
              border: 1px solid #fa7b0a
              padding: 5px 15px
              font-weight: bold
              margin-right: 5px
              color: $activ_col
              position: relative
              &:hover
                text-decoration: none
                font-size: 16px
                &:before
                  content: '\f105'
                  font-family: FontAwesome
                  position: absolute
                  color: $activ_col
                  font-weight: bold
                  left: 5px
                  top: -6px
    .decr-item
        position: relative
        overflow: hidden
        p
          padding: 15px 0 8px 15px
        .descr-link
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 100%
          opacity: 0
          transform: translateY(30px)
          -webkit-transition: all .25s
          -o-transition: all .25s
          transition: all .25s
          background-color: $activ_col
          a
            margin: 20px
            padding: 3px 20px
            float: left
            display: block
            text-align: center
            border: 1px solid #fff
            border-radius: 3px
            color: #fff
            &:last-child
              float: right
            &:hover
              text-decoration: none


        .decr-item:hover .descr-link
          opacity: 1
          transform: translateY(0)
.articles
  margin: 30px 0
  h2
    text-align: center
    text-transform: uppercase
    margin: 25px 0
    font-size: 24px
  .bustext
    padding: 15px
    @include font("Opem Sans")
    font-size: 18px
  .art-item
    display: none
    margin: 10px 0 30px 0
    border-bottom: 3px solid $activ_col
    position: relative
    .holder
      position: relative
      img
        margin: 0 auto
        width: 100%
      .captholder
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        background: rgba(0,0,0,.8)
        p
          color: #fff
          float: left
          font-size: 18px
          margin: 2px 17px
          line-height: 40px
          text-transform: uppercase
          &.capt-price
            color: $activ_col
            float: right
    .decript-item
      position: relative
      overflow: hidden
      p
        font-size: 14px
        font-family: 'Open Sans', sans-serif
        padding: 8px 10px
      .decript-link
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        transform: translateY(30px)
        -webkit-transition: all .25s
        -o-transition: all .25s
        transition: all .25s
        background-color: $activ_col
        a
          margin: 25px
          padding: 3px 20px
          display: block
          text-align: center
          border: 1px solid #fff
          border-radius: 3px
          color: #fff
          float: left
          position: relative
          &:last-child
            float: right
          &:hover
            text-decoration: none
            font-size: 16px
            &:before
              content: '\f105'
              font-family: FontAwesome
              position: absolute
              color: #fff
              font-weight: bold
              left: 8px
    .decript-item:hover .decript-link
      opacity: 1
      transform: translateY(0)
#button-more
  cursor: pointer
  width: 210px
  height: 60px
  margin: 0 auto
  @include font("Opem Sans")
  font-size: 18px
  background: url("images/glob.png") 0 0 no-repeat
  position: relative
  .arrL,
  .arrR
    position: absolute

  .arrR
    top: -6px
    left: -2px
    width: 60px
    height: 68px
    -webkit-animation: orbit2 4s linear infinite /* Chrome, Safari 5 */
    -moz-animation: orbit2 4s linear infinite /* Firefox 5-15 */
    -o-animation: orbit2 4s linear infinite /* Opera 12+ */
    animation: orbit2 4s linear infinite /* Chrome, Firefox 16+, IE 10+, Safari 5 */

    @-webkit-keyframes orbit2
      from
        transform: rotate(0deg) translateX(0) rotate(-360deg)
      to
        transform: rotate(360deg) translateX(0) rotate(0deg)


    @-moz-keyframes orbit2
      from
        transform: rotate(0deg) translateX(0) rotate(-360deg)
      to
        transform: rotate(360deg) translateX(0) rotate(0deg)


    @-o-keyframes orbit2
      from
        transform: rotate(0deg) translateX(0) rotate(-360deg)
      to
        transform: rotate(360deg) translateX(0) rotate(0deg)

    @keyframes orbit2
      from
        transform: rotate(0deg) translateX(0) rotate(-360deg)
      to
        transform: rotate(360deg) translateX(0) rotate(0deg)
  .arrL
    bottom: 27px
    left: 0
    height: 3px
    width: 56px
    -webkit-animation: orbit2 4s linear infinite /* Chrome, Safari 5 */
    -moz-animation: orbit2 4s linear infinite /* Firefox 5-15 */
    -o-animation: orbit2 4s linear infinite /* Opera 12+ */
    animation: orbit2 4s linear infinite /* Chrome, Firefox 16+, IE 10+, Safari 5 */

    @-webkit-keyframes orbit2
      from
        transform: rotate(-360deg) translateY(0) rotate(0deg)
      to
        transform: rotate(-360deg) translateY(0) rotate(360deg)


    @-moz-keyframes orbit2
      from
        transform: rotate(-360deg) translateY(0) rotate(0deg)
      to
        transform: rotate(-360deg) translateY(0) rotate(360deg)


    @-o-keyframes orbit2
      from
        transform: rotate(-360deg) translateY(0) rotate(0deg)
      to
        transform: rotate(-360deg) translateY(0) rotate(360deg)

    @keyframes orbit2
      from
        transform: rotate(-360deg) translate(0) rotate(0deg)
      to
        transform: rotate(-360deg) translate(0) rotate(360deg)
  p
    padding: 20px 0 0 0
    float: right
#cardTabs
  border-top: 5px $activ_col solid
  border-bottom: 1px solid #9a9a9a
  .tabs
    margin: 0
    border-bottom: 3px $activ_col solid
    .spantabs
      width: 92%
      margin: 0 auto
      .hidespan
        height: 35px
        -webkit-box-shadow: 0 15px 8px -17px rgba(0, 0, 0, 0.5)
        -moz-box-shadow: 0 15px 8px -17px rgba(0, 0, 0, 0.5)
        box-shadow: 0 15px 8px -17px rgba(0, 0, 0, 0.5)
        .sandBtm
          position: relative
          height: 35px
          width: 40px
          float: right
          margin-right: 10px

        $w: 27px
        $h: 2px
        #sandwich
          width: $w
          height: 15px
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          margin: auto
        .sw-topper
          position: relative
          top: 0
          width: $w
          height: $h
          background: $activ_col
          border: none
          border-radius: 4px 4px 4px 4px
          transition: transform 0.5s, top 0.2s
        .sw-bottom
          position: relative
          width: $w
          height: $h
          top: $h * 2
          background: $activ_col
          border: none
          border-radius: 4px 4px 4px 4px
          transition: transform 0.5s, top 0.2s
          transition-delay: 0.2s, 0s
        .sw-footer
          position: relative
          width: $w
          height: $h
          top: $h * 4
          background: $activ_col
          border: none
          border-radius: 4px 4px 4px 4px
          transition: all 0.5s
          transition-delay: 0.1s
        #sandwich.active
          .sw-topper
            top: 10px
            -webkit-transform: rotate(140deg)
            -moz-transform: rotate(140deg)
            -ms-transform: rotate(140deg)
            -o-transform: rotate(140deg)
            transform: rotate(140deg)
          .sw-bottom
            top: 5px
            -webkit-transform: rotate(-140deg)
            -moz-transform: rotate(-140deg)
            -ms-transform: rotate(-140deg)
            -o-transform: rotate(-140deg)
            transform: rotate(-140deg)
          .sw-footer
            opacity: 0
            top: 0
            -webkit-transform: rotate(180deg)
            -moz-transform: rotate(180deg)
            -ms-transform: rotate(180deg)
            -o-transform: rotate(180deg)
            transform: rotate(180deg)
    .tab
      display: block
      float: left
      text-align: center
      position: relative
      padding: 13px 28px
      a
        color: $font_col
        text-transform: uppercase
        text-decoration: none
        @include font('Open Sans')
      &.active,
      &:hover
        a
          color: $activ_col
          font-weight: bold
          text-transform: uppercase
        &:after
          content: ''
          position: absolute
          border: 8px solid transparent
          border-top: 8px solid $activ_col
          left: 50%
          margin-left: -12px
          top: 0
          width: 0
  .tab-item
    overflow: hidden
    display: none
    background-color: $cardtabs_col
    &:first-child
      display: block
    .topinfo
      border-bottom: 1px solid #0f0f0f
    .infotur,
    .infoblock
      width: 50%
    .infotur
      float: left
    .info-items
      border-bottom: 1px solid
      &:last-child
        border-bottom: none
      .info-name,
      .item-info
        display: table-cell
        padding: 4px 0
        font-size: 18px
      .info-name
        @include font("Roboto")
        font-weight: bold
        width: 195px
      .item-info
        @include font("Open Sans")
        width: 175px
        .infoCal
          border: 1px solid #9a9a9a
          border-radius: 7px
          width: 100%
          position: relative
          .fa
            color: $activ_col
            position: absolute
            top: 20%
            right: 7%
            cursor: pointer
          input[type="text"]
            width: 90%
            border: none
            background: $cardtabs_col
            padding: 2px 4px
            margin: 0 0 0 3px
      img
        float: left
        max-width: 656px
        width: 100%
    .infoblock
      float: right
      .priceblock
        position: absolute
        top: 140px
        @include font("Open Sans")
        .price
          color: $activ_col
          font-size: 30px
          text-align: center
          border-bottom: 2px solid $activ_col
          padding-bottom: 20px
        a
          display: block
          background-color: $btm_col
          color: #ffffff
          border-radius: 6px
          padding: 8px
          text-align: center
          text-transform: uppercase
          margin-top: 30px
          &:hover
            text-decoration: none

#dopinfo
  width: 100%
  @include font("Open Sans")
  .leftSide
    float: left
    width: 18%
    span.left-tab
      display: block
      padding: 10px 10px
      background-color: #fff
      cursor: pointer
      font-size: 18px
      border-bottom: 1px solid #9a9a9a
      &:last-child
        border-bottom: none
      &.active
        border-left: 4px solid $activ_col
        background-color: $cardtabs_col
  .rightSide
    float: right
    width: 82%
    padding: 10px 20px
    font-size: 14px
    .right-item
      display: none
      &:first-child
        display: block


.tourdescription
  @include font("Open Sans")
  font-size: 18px
  p,
  ul
    margin: 0 10px
  .desctitle
    text-align: center
    color: $activ_col
    font-weight: bold
    line-height: 24px
    margin: 40px 0 30px 0
    span
      display: block
#cardslider
  margin: 30px 0
  overflow: hidden
  .item
    overflow: hidden
    position: relative
    &:hover
      padding-bottom: 5px
      transition: all 200ms ease-in
      border-bottom: 2px solid $activ_col
      .imgHold
        overflow: hidden
        position: relative
        img
          position: relative
          cursor: pointer
          -webkit-transition: all 200ms ease-in
          -webkit-transform: scale(1)
          -ms-transition: all 200ms ease-in
          -ms-transform: scale(1)
          -moz-transition: all 200ms ease-in
          -moz-transform: scale(1)
          transition: all 200ms ease-in
          transform: scale(1)
          z-index: 1
          &:hover
            z-index: 2
            -webkit-transform: scale(1.1)
            -ms-transform: scale(1.1)
            transform: scale(1.1)
  .owl-nav
    div
      width: 25px
      height: 35px
      background-image: url("images/proposeArrows.png")
      top: 30%
      position: absolute
      &.owl-next
        right: 0
        background-position: top right
@import '_sidebar'
