footer
  width: 100%
  border: 1px solid #000
.subfooter
  padding: 50px 0
  background-color: $subfooter_col
  .items
    margin: 0 0 10px 0
  .item-icon,
  .item-text
    display: table-cell
    vertical-align: middle
  .item-icon
    width: 50px
  .list-link
    width: 85%
    margin: 0 auto
  h3,
  .list-link li a
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 18px
    text-transform: uppercase
    margin-bottom: 10px
  li a
    font-size: 16px
    font-family: 'Open Sans', sans-serif
    text-decoration: none
    color: #292929
    display: block
    margin-bottom: 10px
  .list-link li a
    color: $activ_col
  .sub-form
    margin-top: 30px
    p
      font-family: 'Open Sans', sans-serif
      font-size: 16px
    .form-sub
      margin: 30px 0
      border: 1px solid red
      input[type="text"],
      input[type="submit"]
        border: 0 solid red
        font-size: 12px
      input[type="text"]
        padding: 10px
        margin-right: 5px
        background-color: $subfooter_col
        width: 60%
      input[type="submit"]
        background-color: $btm_col
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        padding: 7px 17px
        color: $subfooter_col

.bmfooter
  background-color: $bmfooter_col
  margin: 0
  padding: 8px 0
  li, a
    color: #ffffff
  a
    text-decoration: none