footer
  width: 100%
  border: 1px solid #000
.subfooter
  padding: 50px 0
  background-color: $subfooter_col
  h3,
  .list-link li a
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 18px
    text-transform: uppercase
    margin-bottom: 10px
  li a
    font-size: 16px
    font-family: 'Open Sans', sans-serif
    text-decoration: none
    color: #292929
    display: block
    margin-bottom: 10px
  .list-link li a
    color: $activ_col
  .sub-form
    p
      font-family: 'Open Sans', sans-serif
      font-size: 16px
.bmfooter
  background-color: $bmfooter_col
  margin: 0
  padding: 8px 0
  li, a
    color: #ffffff
  a
    text-decoration: none