header
  border: 0 solid green
.top-slider
  background-image: url('images/slider1.jpg')
  height: 400px
.top-header
  background-color:  rgba(0, 0, 0, 0.5)
  color: $invert_col
  font-family: 'Roboto', sans-serif
  font-weight: 700
  font-size: 22px
  line-height: 27px
  .call-form
    border: 0 solid red
    margin-top: -8px
    margin-bottom: 3px
    img
      float: left
      width: 35px
      height: 30px
      margin-right: 10px
    a
      color: #fff
      font-size: 12px
      text-decoration: underline
      font-family: 'Open Sans', sans-serif
      font-weight: 400
      display: block
      margin: 5px 0 0 15px
  .top-tel
    margin-left: 40px
  .top-kurs
    color: $activ_col
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 16px
    margin: 10px 0 0
    text-align: center
  .top-logo
    a
      display: block
      text-align: center
      border: 0 solid red
      img
        margin: 0 auto
  .top-enter
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 12px
    border: 0 solid red
    margin: 10px 0 0
    float: right
    a
      display: block
      float: right
