.proposeSlider
  overflow: hidden
  position: relative
  @import "tabs"
.ourTours
  background-color: $contentbg_col
  margin-top: 20px
  h3
    text-align: center
    text-transform: uppercase
    width: 100%
    @include font("Roboto")
    font-weight: 700
    color: $btm_col
    margin: 30px 0 0 0
    font-size: 22px
  .cat-container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 25px
    padding: 0
.ourTours .cat-container,
.jc-items
  .cat-pict
    position: relative
    overflow: hidden
    p
      background-color: #fff
      padding: 10px 0
      margin: 0
      text-align: center
      @include font('informCTT')
      font-weight: bold
      font-size: 14px
      border-top: 3px solid $btm_col
    &:nth-child(1)
      grid-column: 1/3
    &:nth-child(10)
      grid-column: 3/5
  .descr
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url("images/baketsfor-tur.png") rgba(0,0,0,.5) no-repeat
    background-position: center center
    color: #fff
    opacity: 0
    transform: translateY(-30px)
    -webkit-transition: all .25s
    -o-transition: all .25s
    transition: all .25s
    overflow: hidden
    p
      background-color: $btm_col
      display: block
      position: relative
      &:after
        content: ''
        position: absolute
        border: 15px solid transparent
        border-top: 15px solid $btm_col
        left: 50%
        margin-left: -12px
        bottom: -30px
        width: 0
  .cat-pict:hover .descr
    opacity: 1
    -webkit-transform: translateY(0)
    -moz-transform: translateY(0)
    -ms-transform: translateY(0)
    -o-transform: translateY(0)
    transform: translateY(0)

.mainNews
  width: 100%
  background: url("images/mainsrticle-bg.jpg") center center no-repeat
  -webkit-background-size: cover
  background-size: cover
  position: relative
  height: 100%
  padding-bottom: 30px
  @import "tabs"

.testimonials
  padding: 20px 0 30px 0
  margin-bottom: 50px
  h3
    text-align: center
    color: $btm_col
    text-transform: uppercase
    font-size: 22px
    margin: 30px 0
    @include font("Roboto")
    text-shadow: 1px 0 1px rgba(0,0,0,.5)
    font-weight: 400
  .testimonials-block
    .item
      border-top: 3px solid $btm_col
      padding-top: 10px
      .resp-title
        width: 100%
        text-align: center
        color: #000
        margin-top: 0
        margin-bottom: 12px
        @include font("astoria")
        font-size: 30px
      img
        width: 300px
        float: left
        margin-right: 20px
      p
        font-size: 14px
        margin: 40px 0
    .owl-dots
      text-align: center
      position: relative
      bottom: -30px
      .owl-dot
        width: 13px
        height: 13px
        border-radius: 100%
        border: 1px solid #ccc
        background: #fff
        top: 15px
        margin-right: 5px
        display: inline-block
        &.active
          background: $btm_col
    .owl-nav
      div
        width: 17px
        height: 35px
        background-image: url("images/responceArr.png")
        top: 8px
        position: absolute
        &.owl-next
          right: 0
          background-position: top right
