aside
  h2
    font-size: 22px
    color: $activ_col
  .sidebar_propose
    .owl-nav
      div
        width: 20px
        height: 35px
        background-image: url("images/proposeArrows.png")
        top: 40%
        position: absolute
        &.owl-next
          right: 0
          background-position: top right