aside
  h2
    font-size: 22px
    color: $activ_col
  .sidebar_propose
    .owl-nav
      div
        width: 20px
        height: 35px
        background-image: url("images/proposeArrows.png")
        top: 40%
        position: absolute
        &.owl-next
          right: 0
          background-position: top right
  .sidebartours_propose
    h2
      color: $btm_col
  .prod_slider
    position: relative
    //overflow: hidden
    margin: 20px 0
    #slideimg
      overflow: hidden
      -webkit-transition: all ease 1s
      transition: all ease 1s
      top: 0
      .jc-items
        position: relative
        height: 700px
        z-index: 1
        .cat-pict
          overflow: visible
        p
          padding: 15px 0 0
          line-height: 15px
        .descr
          p
            padding: 10px
        img
          max-width: 100%
          display: block
          height: auto
          margin: 15px auto
    #block_arrows
      width: 100%
      z-index: 5
      .prev
        position: absolute
        top: -4%
        right: 2%
      .next
        position: absolute
        bottom: -4%
        right: 2%
    i
        font-size: 20px
        color: $btm_col
