.proposeSliderTabs
  border-top: 5px $btm_col solid
  .tabs
    margin: 0 auto
    width: 50%
    .tab
      display: block
      float: left
      text-align: center
      width: 33%
      position: relative
      padding: 20px 0
      a
        color: $font_col
        font-weight: bold
        text-transform: uppercase
        text-decoration: none
      &.active,
      &:hover
        a
          color: $btm_col
          font-weight: bold
          text-transform: uppercase
        &:after
          content: ''
          position: absolute
          border: 8px solid transparent
          border-top: 8px solid $btm_col
          left: 50%
          margin-left: -12px
          top: 0
          width: 0
  .tab_content
  .tab_item
    overflow: hidden
    display: none
    &:first-child
      display: block
  .owl-nav
    div
      width: 25px
      height: 35px
      background-image: url("images/proposeArrows.png")
      top: 45%
      position: absolute
      &.owl-next
        right: 0
        background-position: top right

.mainNewsTabs
  border-top: 5px $activ_col solid
  .tabs
    margin: 0 auto
    width: 40%
    .tab
      display: block
      float: left
      text-align: center
      width: 50%
      position: relative
      padding: 20px 0
      a
        color: $font_col
        font-weight: bold
        text-transform: uppercase
        text-decoration: none
      &.active,
      &:hover
        a
          color: $activ_col
          font-weight: bold
          text-transform: uppercase
          &:after
            content: ''
            position: absolute
            border: 8px solid transparent
            border-top: 8px solid $activ_col
            left: 50%
            margin-left: -12px
            top: 0
            width: 0
  .tab-item
    overflow: hidden
    display: none
    color: #fff
    &:first-child
      display: block