extends layout/main
block title
    | Статьи
block content
    include modules/_breadcrumbs
    section.articles.clearfix
        .container
            .row
                h2 Статьи
                .col-md-4
                    .art-item
                        .holder
                            img(src="images/art1.jpg")
                            .captholder
                                p
                                    | Золотая неделя в Праге
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-md-4
                    .art-item
                        .holder
                            img(src="images/art2.jpg")
                            .captholder
                                p
                                    | Словенский уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-md-4
                    .art-item
                        .holder
                            img(src="images/art3.jpg")
                            .captholder
                                p
                                    | Сказочный уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-md-4
                    .art-item
                        .holder
                            img(src="images/art1.jpg")
                            .captholder
                                p
                                    | Золотая неделя в Праге
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-md-4
                    .art-item
                        .holder
                            img(src="images/art2.jpg")
                            .captholder
                                p
                                    | Словенский уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-md-4
                    .art-item
                        .holder
                            img(src="images/art3.jpg")
                            .captholder
                                p
                                    | Сказочный уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее

                div(id="button-more" onclick="lazyload.load()")
                    | Показать еще
                div(id="loading")
    include modules/related_tours