extends layout/main
block title
    | Статьи
block content
    include modules/_breadcrumbs
    section.articles.clearfix
        .container
            .row
                h2 Статьи
                .col-md-4
                    .art-item
                        img(src="images/propose1.jpg")
                        p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                .col-md-4
                    .art-item
                        img(src="images/propose1.jpg")
                        p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                .col-md-4
                    .art-item
                        img(src="images/propose1.jpg")
                        p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                .col-md-4
                    .art-item
                        img(src="images/propose1.jpg")
                        p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                .col-md-4
                    .art-item
                        img(src="images/propose1.jpg")
                        p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                .col-md-4
                    .art-item
                        img(src="images/propose1.jpg")
                        p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....

    section.reltours.clearfix
        .container
            .row
                h3 Наши туры
            #reltours.owl-carousel
                .item
                    p Авиа билети
                    img(src="images/cruise2.jpg")
                .item
                    p Авиа билети
                    img(src="images/cruise2.jpg")
                .item
                    p Авиа билети
                    img(src="images/cruise3.jpg")
                .item
                    p Авиа билети
                    img(src="images/cruise4.jpg")
                .item
                    p Авиа билети
                    img(src="images/cruise3.jpg")