extends layout/main
block title
    | Статьи
block content
    include modules/_breadcrumbs
    section.articles.clearfix
        .container
            .row
                h2 Статьи
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art1.jpg")
                            .captholder
                                p
                                    | Золотая неделя в Праге
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art2.jpg")
                            .captholder
                                p
                                    | Словенский уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art3.jpg")
                            .captholder
                                p
                                    | Сказочный уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art1.jpg")
                            .captholder
                                p
                                    | Золотая неделя в Праге
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art2.jpg")
                            .captholder
                                p
                                    | Словенский уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art3.jpg")
                            .captholder
                                p
                                    | Сказочный уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее

                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art3.jpg")
                            .captholder
                                p
                                    | Сказочный уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art1.jpg")
                            .captholder
                                p
                                    | Золотая неделя в Праге
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art2.jpg")
                            .captholder
                                p
                                    | Словенский уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее
                .col-xs-12.col-sm-6.col-md-4
                    .art-item
                        .holder
                            img(src="images/art3.jpg")
                            .captholder
                                p
                                    | Сказочный уикенд
                        .decript-item
                            p Lorem ipsum dolor sit amet, accumsan ponderum mandamus nam an, quot omittam consetetur ea has. Nam et maiorum epicurei, nec illumlabo....
                            .decript-link.clearfix
                                a(href="#") Читать далее

                .col-xs-12
                    div(id="button-more" class="clearfix")
                        img(src="images/glob.png")
                        p Показать еще

    include modules/related_tours