extends layout/main
block title
    | Карта тура
block content
    include modules/_breadcrumbs
    section.articles.clearfix
        .container
            .row
                .col-xs-12
                    h2 Lorem Ipsum: common examples
                    #cardTabs.clearfix
                        .tabs.clearfix
                            .spantabs.clearfix
                                .hidespan.clearfix.hidden-sm.hidden-md.hidden-lg
                                    .sandBtm.hidden-sm.hidden-md.hidden-lg
                                        #sandwich
                                            .sw-topper
                                            .sw-bottom
                                            .sw-footer
                                .openspan.clearfix
                                    span.tab.active
                                        a(href="#") Описание
                                    span.tab
                                        a(href="#") Правила
                                    span.tab
                                        a(href="#") Видео
                                    span.tab
                                        a(href="#") Фото
                                    span.tab
                                        a(href="#") Менеджеры
                                    span.tab
                                        a(href="#") Отзывы
                                    span.tab
                                        a(href="#") Похожие туры
                                    span.tab
                                        a(href="#") Заказать
                        .tab_content.clearfix
                            .tab-item.clearfix
                                .topinfo.clearfix
                                   .infotur.clearfix
                                       img(src="images/cardtabspict.jpg")
                                   .infoblock.clearfix
                                       .col-xs-12.col-sm-8.col-md-8
                                           .info-items.clearfix
                                               .info-name
                                                   | Выезд
                                               .item-info
                                                   .infoCal
                                                        input(type="text" id="datepicker")
                                                        i(class="fa fa-angle-down"  id="dateArr" aria-hidden="true")
                                           .info-items.clearfix
                                               .info-name
                                                    | Длительность (дней)
                                               .item-info
                                                    | 9
                                           .info-items.clearfix
                                               .info-name
                                                   | Город отправления
                                               .item-info
                                                   ul
                                                       li Одесса
                                                       li Умань
                                                       li Киев
                                           .info-items.clearfix
                                               .info-name
                                                   | Страна
                                               .item-info
                                                   | Греция
                                           .info-items
                                               .info-name
                                                   | Транспорт
                                               .item-info
                                                   | Автобус
                                           .info-items.clearfix
                                               .info-name
                                                   | Маршрут
                                               .item-info

                                       .col-xs-12.col-sm-4.col-md-4
                                           .priceblock
                                               .price
                                                    | $1450.00
                                               a(href="#") Бронировать
                                .botninfo.clearfix
                                    #dopinfo.clearfix
                                        .leftSide.clearfix
                                            span.left-tab.active
                                                | Включено в тур
                                            span.left-tab
                                                | Не включено в тур
                                            span.left-tab
                                                | Скидки / Доплаты
                                        .rightSide.clearfix
                                            .right-item
                                                ul
                                                    li Проезд автобусом туристического класса;
                                                    li Размещение в апарт-отелях и виллах;
                                                    li Питание: завтраки;
                                                    li Сопровождение руководителем группы.
                                            .right-item
                                                | right1 item
                                            .right-item
                                                | right2 item

                            .tab-item.clearfix
                                | item
                            .tab-item.clearfix
                                | item
                            .tab-item.clearfix
                                | photo
                            .tab-item.clearfix
                                | item
                            .tab-item.clearfix
                                | item
                            .tab-item.clearfix
                                | item
                            .tab-item.clearfix
                                | item

                    .tourdescription.clearfix
                        p.desctitle
                            | 1 День
                            span Отправление
                        ul
                            li
                                | В 07:00 - сбор группы, встреча с представителем компании DAV CLUB
                            li
                                | 07:15 - отправление из Киева, Южный терминал ж/д вокзала.
                            p Присоединение туристов:

                        ul
                            li
                                | ~ 10:30-10:45 - г. Умань  (заправка ОККО на выезде из города по трассе Киев-Одесса);
                            li
                                | ~ 14:00-14:15 - г. Одесса (остановка 8 троллейбуса в сторону города на центральном автовокзале Одессы).

                        p.desctitle
                            | 2 День
                            span Прибитие
                            span Прибитие в Грецию
                        p
                            | Размещение в апарт-отелях и виллах, на Олимпийской Ривьере, на берегу Эгейского моря. Здесь Вы сможете оценить знаменитое греческое гостеприимство, радушие и провести вечер в уютном ресторанчике

                        #cardslider.owl-carousel
                            .item
                                .imgHold
                                    img(src="images/cruise2.jpg")
                            .item
                                .imgHold
                                    img(src="images/cruise2.jpg")
                            .item
                                .imgHold
                                    img(src="images/cruise2.jpg")
                            .item
                                .imgHold
                                    img(src="images/cruise2.jpg")
                            .item
                                .imgHold
                                    img(src="images/cruise2.jpg")
                            .item
                                .imgHold
                                    img(src="images/cruise2.jpg")

                        p.desctitle
                            | 4 День
                            span 8-е Чудо Света - Метеоры
                            span Завтрак.
                        p
                            | Поездка на Метеоры (от греч. μετέωρα - «парящие в воздухе»), (35€/взр, 25€/дети до 12 лет).
                            | Посещение монастыря (вх. билеты оплачиваются дополнительно ~ 2-3€). Этот уникальный природный феномен, находящийся на расстоянии 250 км от Паралии, по праву считается 8-м Чудом Света. Метеора по-гречески означает «парящий в воздухе». Этим словом обозначается комплекс открытых к посещению монастырей и скитов, основанных православным святым монахом Афанасием Метеорским, которые и вправду почти витают в небесах. Воздвигнутые на высоте от 300 до 400 метров, на скалистых вершинах поразительной крутизны, монастыри словно смотрят через долину Пиньоса на просторы древней Эллады. Неприступные каменные столбы, образовавшиеся миллионы лет назад, полностью отрезанные от мира, стали приютом монахов-отшельников еще с XI века. До 1920 г желающим попасть в монастырь приходилось либо карабкаться сюда по шатким приставным лестницам высотой 30 м и более (лестницы при малейшей опасности втаскивались наверх), либо совершать подъем на верёвке в плетёной сетке. Сегодня к монастырям проложены дороги и мосты. Однако снабжение некоторых монастырей и по сей день осуществляется с помощью таких сеток. Сегодня Вы сможете посетить колыбель православия (монастырь) и насладится прекрасными пейзажами.
                            | После посещений Метеор предлагаем отдохнуть и пообедать в национальной греческой таверне.
                            | Возвращение в аппарт отели и виллы. Свободное время. Отдых на море.

                        p.desctitle
                            | 5 День
                            span Лутра Аридея - термальные купальни
                            span Завтрак.
                        p
                            | Для желающих поездка в Лутраки (25€/взр, 20€/дети до 15 лет).
                            | Сказочно красивые горы, чистый воздух и кристальная вода горных ручейков ожидают вас в местечке Лутраки, расположенном недалеко от города Аридея. «Сад Эдема», как его ещё называют, впечатлит самого требовательного путешественника. Богатая растительность, водопады, головокружительное ущелье, протянувшееся на 15 км вдоль реки, таинственные сталагмитовые пещеры - и всё это посреди изумрудно-зелёного леса, через который протекает река Термопотамос (греч.: теплая река).
                        p
                            | Вы сможете посетить  горячие лечебные источники под открытым небом, известные ещё со времён Александра Македонского. Лечебная вода на протяжении многих веков плодотворно влияла на здоровье человека. Её терапевтические свойства показаны при недугах суставов и костей, дыхательной системы, гинекологических и кожных заболеваний, нервной системы, нарушениях циркуляции крови. Лечебная питьевая вода рекомендуется при заболеваниях печени, желчного пузыря, почек, пищеварительной системы, а также при плохой циркуляции крови. Гидролечебница располагает комплексом естественных водопадов с термальной водой и 4-мя бассейнами (4 м х 2.5 м), а также бассейном олимпийских размеров (25 м х 12 м) под открытым небом (вх. билеты в басей оплачиваются дополнительно).
                            | Возвращение в аппарт отели и виллы. Свободное время. Отдых на море.
                            | Подробнее: http://www.davclub.ua/book.php?date=28.04.2018&tour_id=370&agent_id=2¤cy_id=3

    include modules/related_tours
