extends layout/main
block title
   | Головна сторінка
<<<<<<< HEAD
block content
     .col-md-6
        p hello text
     .col-md-6
        p hello text
=======
>>>>>>> 505c3497cf907957480177f4b441d6acce738769

block content
    .proposeSlider
        .col-md-4
            p hello text
        .col-md-4
            p hello text
        .col-md-4
            p hello text
    .ourTours
        h4 Наши тури
        .col-md-4
            p hello text
        .col-md-4
            p hello text
        .col-md-4
            p hello text
