extends layout/main
block title
   | Головна сторінка
block content
    section.proposeSlider.clearfix
        .container
            .row
                .proposeSliderTabs.clearfix
                    .tabs.clearfix
                        span.tab.active
                            a(href="#tab1") Предложение дня
                        span.tab
                            a(href="#tab2") Новые поступления
                        span.tab
                            a(href="#tab3") Лидеры продаж
                    .tab_content.clearfix
                        .tab_item.clearfix
                            #owl-propose.owl-carousel
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                             a(href="#") Детали тура
                                             a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать

                                .item
                                    .imgHold
                                        img(src="images/propose3.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                             a(href="#") Детали тура
                                             a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose3.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                             a(href="#") Детали тура
                                             a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                             a(href="#") Детали тура
                                             a(href="#") Заказать

                        .tab_item
                            #owl-propose2.owl-carousel
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать

                                .item
                                    .imgHold
                                        img(src="images/propose3.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose3.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                        .tab_item
                            #owl-propose3.owl-carousel
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать

                                .item
                                    .imgHold
                                        img(src="images/propose3.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose3.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose1.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
                                .item
                                    .imgHold
                                        img(src="images/propose2.jpg")
                                        .capt
                                            p
                                                | Турция, Анталия
                                            p.capt-price
                                                | 500$
                                    .decr-item
                                        p
                                            | 21.12.2017 из Киева, на 7 ночей, питание ВВ, за человека
                                        .descr-link.clearfix
                                            a(href="#") Детали тура
                                            a(href="#") Заказать
    section.ourTours.clearfix
        .container
            .row
                .col-md-12
                    h3 Наши тури

        .container.cat-container.clearfix
            .cat-pict
                .descr
                   p Круизы
                p
                   | Круизы
                img(src="images/cruise1.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                    | Детские международные фестивали
                img(src="images/cruise2.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                    | Детские лагеря и Молодежные центры
                img(src="images/cruise3.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                    | Авиа билеты
                img(src="images/cruise9.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                   | Недвижимость в Болгарии
                img(src="images/cruise2.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                    | Детские экскурсионные туры
                img(src="images/cruise4.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                   | Туры по Украине
                img(src="images/cruise5.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                   | Трудоустройство и стажировка в Болгарии
                img(src="images/cruise8.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                   | Автобусы в Болгарию
                img(src="images/cruise6.jpg")
            .cat-pict
                .descr
                    p Детские международные фестивали
                p
                   | Автобусные экскурсионные туры
                img(src="images/cruise7.jpg")
            .clear

    section(class="mainNews clearfix" data-parallax="scroll" data-image-src="images/mainsrticle-bg.jpg")
        .container
            .row
                .mainNewsTabs.clearfix
                    .tabs.clearfix
                        span.tab.active
                            a(href="#tab-1") Статьи
                        span.tab
                            a(href="#tab-2") Новости
                    .line
                    .tab_content.clearfix
                        .tab-item.clearfix
                            #mainArt.owl-carousel
                                .item
                                    .item-img.clearfix
                                        img(src="images/mainsrticle1.jpg")
                                    .short-text.clearfix
                                        p.title
                                            | Lorem ipsum dolor sit amet
                                        p
                                            | Lorem ipsum dolor sit amet, eu falli vidisse qui, sint equidem accommodare eu vis, cibo inermis ex vim.
                                        a(href="#")
                                            | Читать далее
                                .item
                                    .item-img.clearfix
                                        img(src="images/mainsrticle2.jpg")
                                    .short-text.clearfix
                                        p.title
                                            | Lorem ipsum dolor sit amet
                                        p
                                            | Lorem ipsum dolor sit amet, eu falli vidisse qui, sint equidem accommodare eu vis, cibo inermis ex vim.
                                        a(href="#")
                                            | Читать далее
                                .item
                                    .item-img.clearfix
                                    img(src="images/mainsrticle3.jpg")
                                    .short-text.clearfix
                                        p.title
                                            | Lorem ipsum dolor sit amet
                                        p
                                            | Lorem ipsum dolor sit amet, eu falli vidisse qui, sint equidem accommodare eu vis, cibo inermis ex vim.
                                        a(href="#")
                                            | Читать далее
                        .tab-item.clearfix
                            #mainNews1.owl-carousel
                                .item
                                    img(src="images/mainsrticle1.jpg")
                                    .short-text.clearfix
                                        p.title
                                            | Lorem ipsum dolor sit amet
                                        p
                                            | Lorem ipsum dolor sit amet, eu falli vidisse qui, sint equidem accommodare eu vis, cibo inermis ex vim.
                                        a(href="#")
                                            | Читать далее
                                .item
                                    img(src="images/mainsrticle2.jpg")
                                    .short-text.clearfix
                                        p.title
                                            | Lorem ipsum dolor sit amet
                                        p
                                            | Lorem ipsum dolor sit amet, eu falli vidisse qui, sint equidem accommodare eu vis, cibo inermis ex vim.
                                        a(href="#")
                                            | Читать далее
                                .item
                                    img(src="images/mainsrticle3.jpg")
                                    .short-text.clearfix
                                        p.title
                                            | Lorem ipsum dolor sit amet
                                        p
                                            | Lorem ipsum dolor sit amet, eu falli vidisse qui, sint equidem accommodare eu vis, cibo inermis ex vim.
                                        a(href="#")
                                            | Читать далее

    section.testimonials.clearfix
        .container
            .row
               .testimonials-block.clearfix
                   h3 Отзывы о нас
                   #response.owl-carousel
                       .item
                           p.resp-title  Алиса, Кировоград
                           img(src="images/mainresp1.jpg")
                           p
                            | Агенство супер!!! Отдыхали в Болгарии большой компанией. Оформили все быстро и качественно!!! Рекомендую всем! Отдельное спасибо Наталье!
                       .item
                           p.resp-title  Антон, Киев
                           img(src="images/mainresp2.jpg")
                           p
                            | Агенство супер!!! Отдыхали в Болгарии большой компанией. Оформили все быстро и качественно!!! Рекомендую всем! Отдельное спасибо Наталье!
                       .item
                           p.resp-title  Алиса, Кировоград
                           img(src="images/mainresp2.jpg")
                           p
                            | Агенство супер!!! Отдыхали в Болгарии большой компанией. Оформили все быстро и качественно!!! Рекомендую всем! Отдельное спасибо Наталье!
                       .item
                           p.resp-title  Антон, Киев
                           img(src="images/mainresp1.jpg")
                           p
                            | Агенство супер!!! Отдыхали в Болгарии большой компанией. Оформили все быстро и качественно!!! Рекомендую всем! Отдельное спасибо Наталье!
