extends layout/main
block title
   | Головна сторінка
block content
    section.proposeSlider.clearfix
        .container
            .row
                .proposeSliderTabs.clearfix
                    .tabs.clearfix
                        span.tab.active
                            a(href="#tab1") Предложение дня
                        span.tab
                            a(href="#tab2") Новые поступления
                        span.tab
                            a(href="#tab3") Лидеры продаж
                    .tab_content.clearfix
                        .tab_item.clearfix
                            #owl-propose.owl-carousel
                                .item
                                    img(src="images/propose1.jpg")
                                .item
                                    img(src="images/propose2.jpg")
                                .item
                                    img(src="images/propose3.jpg")
                                .item
                                    img(src="images/propose1.jpg")
                                .item
                                    img(src="images/propose2.jpg")
                                .item
                                    img(src="images/propose3.jpg")
                                .item
                                    img(src="images/propose1.jpg")
                                .item
                                    img(src="images/propose2.jpg")
                        .tab_item
                            #owl-propose2.owl-carousel
                                .item
                                    img(src="images/propose1.jpg")
                                .item
                                    img(src="images/propose2.jpg")
                                .item
                                    img(src="images/propose3.jpg")
                                .item
                                    img(src="images/propose1.jpg")
                                .item
                                    img(src="images/propose2.jpg")
                                .item
                                    img(src="images/propose3.jpg")
                                .item
                                    img(src="images/propose1.jpg")
                                .item
                                    img(src="images/propose2.jpg")
                        .tab_item
                            | item
                            | item
    section.ourTours.clearfix
        .container
            .row
                h4 Наши тури
                .col-md-4
                    .Cat-pict
                        img(src="images/cruise1.jpg")
                .col-md-4
                    .Cat-pict
                        img(src="images/cruise2.jpg")
                .col-md-4
                    .Cat-pict
                        img(src="images/cruise3.jpg")
    section.mainNews.clearfix
        .container
            .row
                .mainNewsTabs.clearfix
                    .tabs.clearfix
                        span.tab.active
                            a(href="#tab-1") Статьи
                        span.tab
                            a(href="#tab-2") Новости
                    .tab_content.clearfix
                        .tab-item.clearfix
                            #mainArt.owl-carousel
                                .item
                                    img(src="images/propose1.jpg")
                                .item
                                    img(src="images/propose2.jpg")
                                .item
                                    img(src="images/propose3.jpg")
                        .tab-item.clearfix
                            .item
                                | item
                            //#mainNews1.owl-carousel
                            //    .item
                            //        img(src="images/propose1.jpg")
                            //    .item
                            //        img(src="images/propose2.jpg")
                            //    .item
                            //        img(src="images/propose3.jpg")
    section.testimonials.clearfix
        .container
            .row
               p slider