/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px)

  #topSlider
    overflow: hidden
    max-height: 100%
    height: 470px
  .choosevocation
    margin: 50px auto
  #passport
    bottom: -50px
@media only screen and (max-width: 1366px)
  #topSlider
    overflow: hidden
    max-height: 100%
    height: 396px
  .choosevocation
    margin: 10px auto
  #passport
    bottom: -80px
@media only screen and (max-width: 1200px)

  .sf-menu a
  //padding: .75em .8em
  .top-header .top-tel
    margin-left: 30px
  .choosevocation
    width: 100%
    margin: 0 auto
  .choosevocation .form-group
    margin-right: 4px
@media only screen and (max-width: 1024px)
  #topSlider
    height: 470px
  .choosevocation
    width: 100%
    margin: 50px auto
  #topSlider .full-screen
    background-size: cover
    -webkit-background-size: cover
  #passport
    bottom: -40px
  .proposeSlider .proposeSliderTabs .tabs
    width: 60%
  .proposeSlider .proposeSliderTabs .tab_item .item .decr-item .descr-link a
    padding: 3px 10px
  .sf-menu a
    padding: .75em .8em !important
  .sf-arrows .sf-with-ul
    padding-right: 2em !important
  .topmainslider
    height: 75vh
  .subfooter .sub-form .form-sub input[type="text"]
    width: 60%
  .subfooter .item-text
    width: 81%
  .subfooter li a, .subfooter .items
    font-size: 15px
  .ourTours .cat-container
    grid-template-columns: repeat(3, 1fr)
  .ourTours  .cat-pict
    img
      width: 100%
      margin: 0 auto
  .ourTours  .cat-pict
    &:nth-child(1)
      grid-column: 1/3 !important
    &:nth-child(10)
      //width: 100%
      grid-column: 4/2 !important
  #cardTabs .tabs .tab
    padding: 13px 18px !important
  #cardTabs .tab-item .info-items .item-info,
  #cardTabs .tab-item .info-items .info-name
    font-size: 14px
  #cardTabs .tab-item .infoblock .priceblock
    top: 101px
  #dopinfo .leftSide span.left-tab
    font-size: 16px
  #btn-connect
    top: 5%
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .top-header
    width: 100%
  #topSlider
    overflow: hidden

    .full-screen
      background-size: cover !important
      -webkit-background-size: cover !important
  .top-header .top-enter .top-searchIcon
    width: 40%
    margin-right: 10px
    img
      float: none
      width: auto
  nav
    background: none
    float: left
  .seacrh
    margin: 0 0 15px 0

  .sf-menu
    display: none !important
  .choosevocation
    margin: 0 auto
  .choosevocation .fist
    .form-group
      width: 50%
      margin: 0
  .choosevocation
    input[type="text"]
      width: 95%
  .proposeSlider .proposeSliderTabs .tabs
    width: 70%
  #passport
    bottom: -90px
  aside .prod_slider #block_arrows .prev
    top: -8%
    right: 5%
  aside .prod_slider #block_arrows .next
    top: -8%
    right: 0
  .subfooter
    .fooClass

      margin: 0 0 20px 0
      &:after
        content: "."
        display: block
        height: 0
        clear: both
        visibility: hidden
    .list-link
      width: 100%
  #cardTabs .tabs .spantabs
    width: 100%
  #cardTabs .tabs .tab
    padding: 13px 9px !important

  #cardTabs .tab-item .infotur
    float: none
    img
      margin: 0 auto
      width: 100%
  #cardTabs .tab-item .infotur,
  #cardTabs .tab-item .infoblock
    width: 100%
  #cardTabs .tab-item .infoblock .priceblock
    top: 80px
    left: 50px
  #dopinfo .leftSide
    width: 35%
  #dopinfo .rightSide
    width: 60%
  aside .prod_slider #slideimg .jc-items
    width: 2000em
    height: auto
    .cat-pict
      float: left
      margin-right: 15px
@media only screen and (max-width: 768px)
  .header-content,
  .cat-container,
  .mainNewsTabs,
  .proposeSliderTabs,
  .testimonials-block
    padding: 0 15px !important
  .top-header
    font-size: 22px
    .top-tel
      margin-left: 30px
    .call-form
      margin-top: 0
      img
        width: 25px
        height: 22px
      a
        margin: 0 0 0 15px
    .top-logo
      margin-bottom: 10px
  .choosevocation
    display: none
    position: fixed
    top: 35%
    left: 10%
    z-index: 30
    width: 80%
    background-color: rgba(0, 0, 0, 0.8)
    .form-group
      width: 32%
  .topSliderControl
    top: 55%
  .mainNews .mainNewsTabs .tab-item .item .short-text
    font-size: 13px
    a
      top: 93%
  #cardTabs .tab-item .infoblock .priceblock
    position: initial
    width: 60%
    margin: 10px auto
  #cardTabs .tabs .tab.active a,
  #cardTabs .tabs .tab:hover a
    font-size: 12px
  #cardTabs .tabs .tab
    float: none
    text-align: left
    border-bottom: 1px solid #ccc
    &.active,
    &:hover
      &:after
        content: ''
        position: absolute
        border: 8px solid transparent
        border-left: 10px solid $activ_col !important
        left: 0
        margin-left: -8px
        top: 35%
        width: 0
  #cardTabs .tabs .spantabs .openspan
    display: none
    padding: 0 25px
  .footer-social,
  .footer-copy
    text-align: center
  #btn-connect
    left: 75%
/* Medium Devices, Desktops */
@media only screen and (max-width: 667px)
  .proposeSlider .proposeSliderTabs .tabs
    width: 100%
  .proposeSlider
  .proposeSliderTabs
  .tab_item
  .item
  .decr-item
  .descr-link a
    float: none!important
    margin: 7px  auto!important
    width: 50%
    a:last-child
      float: none!important
      margin: 0!important
      margin: 0 auto!important
      width: 50%
  .ourTours .cat-container
    grid-template-columns: repeat(2, 1fr)
  .ourTours  .cat-pict
    &:nth-child(1)
      grid-column: 1/3!important
    &:nth-child(10)
      grid-column: 1/3!important
  #passport
    bottom: -40px
  .choosevocation .fist
    .form-group
      width: 100%
  .mainNews .mainNewsTabs .tab-item .item .short-text a
    top: 93%

  .subfooter .sub-form
    margin: 40% auto
    width: 60%
  #button-more
    width: 40%
/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px)
  .proposeSlider .proposeSliderTabs .tab_item .item .decr-item p
    padding: 23px 0 20px 15px
  .mainNews .mainNewsTabs .tab-item .item .short-text
    width: 80%
  #dopinfo .leftSide,
  #dopinfo .rightSide
    width: 100%
    float: none
  #dopinfo .leftSide span.left-tab.active
    border-left: none
    border-bottom: 2px solid #fa7b0a
  #dopinfo .rightSide .right-item
    padding: 10px 0
  aside .sidebar_propose .decr-item
    padding: 15px 0
  .subfooter .sub-form
    width: 90%
    margin: 40px auto
@media only screen and (max-width: 480px)
  #topSlider
    height: 480px
  .header-logo
    width: 60%
  .header-logo h1
    font-size: 22px
  .ourTours .cat-container
    grid-template-columns: repeat(2, 1fr)
  .ourTours  .cat-pict img
    width: 100%
    height: auto
  .ourTours  .cat-pict
    &:nth-child(1)
      grid-column: 1/3 !important
    &:nth-child(10)
      grid-column: 1/3
  .mainNews .mainNewsTabs .tabs
    width: 100%
  .testimonials .testimonials-block .item img
    width: 100%
    float: none
  .testimonials .testimonials-block .item h3
    margin-top: 0
  .testimonials .testimonials-block .item p
    margin: 20px 0
  .choosevocation
    width: 65%
    top: 2%
    left: 15%
    .form-group
      float: none
      width: 100%
      label
        padding: 5px 20px 0 0
  #passport
    bottom: -2%
  .mainNews .mainNewsTabs .tab-item .item .short-text
    width: 70%
  .mainNews .mainNewsTabs .tab-item .item .short-text a
    top: 91%
  #button-more
    width: 60%
/* Extra Small Devices, Phones */
@media only screen and (max-width: 380px)
  .top-header
    font-size: 18px
    .top-tel
      margin-left: 20px

  .proposeSlider .proposeSliderTabs .owl-nav div
    top: 25% !important
  .proposeSlider .proposeSliderTabs .tab_item .item .decr-item p
    padding: 15px 0 8px 15px
  #cardTabs .tab-item .info-items .info-name, #cardTabs .tab-item .info-items .item-info
    display: initial
  #cardTabs .tab-item .info-items
    padding: 10px 0
  .ourTours .cat-container
    grid-template-columns: repeat(1, 1fr)
  .ourTours  .cat-pict img
    width: 100%
    height: auto
  .ourTours  .cat-pict
    &:nth-child(1)
      grid-column: 1/1 !important
    &:nth-child(10)
      grid-column: 1/1 !important
  .ourTours .cat-container .cat-pict p, .jc-items .cat-pict p
    font-size: 18px
  .articles .art-item .decript-item .decript-link a,
  .articles .art-item .decript-item .decript-link a:last-child
    float: none
    margin: 10px
  .formbtn
    width: 70%
  .header-logo h1
    font-size: 17px
  #button-more
    width: 70%
@media only screen and (max-width: 320px)
  #passport
    bottom: -7%
  .subfooter .sub-form
    width: 100%


/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
  /**/
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
  /**/
/* Small Devices, Tablets */
@media only screen and (min-width: 768px)


  /**/
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
  /**/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
  /**/