//colors
$activ_col: #fa7b0a
$btm_col: #6585ff
$footicon_col: #f99b53
$blocks_bg: #000
$invert_col: #fff
$subfooter_col: #ededef
$bmfooter_col: #494b5a
$font_col: #292929
$mainbg_col: #fff
$contentbg_col: #e9e5e2
*
  margin: 0
  padding: 0
ul
  list-style: none
  margin: 0
  padding: 0
img
  max-width: 100%
  height: auto
  display: block
body
  font-family: 'Roboto', sans-serif
  font-size: 14px
  background-color: $mainbg_col
.wrrap
  width: 100%