doctype html
html(lang="ru-RU")
    head
        link(href="libs/bootstrap.min.css" rel="stylesheet")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=devise-width, initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")
        link(href="libs/bootstrap.min.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&amp;subset=cyrillic" rel="stylesheet")
        link(href="style.css" rel="stylesheet")
        <!-- [if lt IE 9]>
            script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
        <![endif]-->
        title
            block title
    body
        .wrrap
            header
                include ../modules/_header
            .content
                .container
                    .row
                        block content
        footer
            include ../modules/_footer
        script(src="libs/jquery/jquery-3.2.1.min.js")
        script(src="js/custom.js")